// Susy setup ----------------------------
$total-columns : 12;
$column-width  : 4em;
$gutter-width  : 1em;
$grid-padding  : $gutter-width;

@include border-box-sizing;

$small      : 30em;
$medium     : 47em;
$large      : 75em;

// layout ----------------------------------------


// content
.layout {
  @include container;
   padding: 3%;
    // primary --------------------
   .primary {
    margin-top: .2em;
    @include at-breakpoint($medium){
      @include span-columns(8 omega,12);

      #nextmeeting {
        @include border-radius(20px);
        color: $paleyellow;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 0 20px 20px 20px;
        background: $cyan;

        h1 {
          color: darken($cyan, 15);
          border: none;
          margin-bottom: 20px;
        }
        a {
          color: $darkblue;
        }
      }
    }
   }
 .secondary {
  @include at-breakpoint($medium) {
    @include span-columns(4 omega, 12);
    font-size: 1.1rem;
    h1 {
      font-size: 1.8rem;
      color: $orange;
    }
  }
 }
}

// header ----------------------------------------

header {
  img {
    width: 95%;
    margin: 2.5%;
    max-width: 500px;
    margin-bottom: 0;
  }

  .hero {
    width: 100%;
    @include at-breakpoint($medium);
      position: relative;
      display: block;
      height: 450px;
      @include background(linear-gradient(bottom left, rgba($darkerblue, .6), rgba($darkerblue, 0)), image-url('misc/helper.jpg'));
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      margin: 0 auto;

      .branding {
        position: absolute;
        bottom: 0;
      }
  } // medium
} //header

// Navigation ----------------------------------------
.navigation {
  background: lighten($darkblue, 15);
  ul.nav {
    li {
      i {
        color: lighten($yellow, 20);
        padding-right: .5em;
      }
      a {
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        color: $paleryellow;
      }
    }
  }
}

// Footer ----------------------------------------
footer {
  color: $paleyellow;
  background: lighten($darkblue, 3);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
}